html {
background-color: #57bb6b;
}

.titlePresentation {
  font-size: 30px;
  margin: 0px 0px 10px 0px;
}

.subtitle {
  font-size: 20px;
  margin: 0px 0px 10px 0px;
}

.banane {
  background-color: #FFF8D7 ;
}
.kiwi {
  background-color: var(--green-light);
}
.café {
  background-color: #D3C6B2;
}
.fraise {
  background-color: #F7A4B4;
}

img {
  width: 70px;
  vertical-align: baseline;
}

.fruitboard img {
  width: 75px;
}

.container {
  height: 240px;
  width: 320px;
  background-color: rgb(0, 0, 0);
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  position: relative;
}

.container div {
  color: white;
}

.column {
  position: absolute;
  bottom: 41px;
}

.product {
  margin: 40px 30px;
}

.titleProducts {
  color: white;
  font-size: 26px;
  font-family: var(--Maven);
  margin-bottom: 35px;
}

.column * {
  padding: 0px 78px 0px 00px;
}

body{
  margin: 8px 0px;
  text-align: center;
  background-color: green;
}

.presentation {
  padding: 90px 40px;
  background-color: white;
}

h2{
  font-size: 26px;
  font-style: bold;
}

.fontRubrique2{
  font-size: 16px;
}

.imagefruit{
  height: 50px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  background: #57bb6b;
  color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  margin-bottom: 5px;
  text-decoration: none;
  transition: all 0.2s ease;
  font-family: maven pro;
}

.button:hover {
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
  background: #278b3b;
}

.button-light {
  background: white;
}

