:root {
  --green : #57BB6B ;
  --Maven : 'Maven Pro', sans-serif;
  --Quattrocento: 'Quattrocento', serif;
  --Sriracha : 'Sriracha', cursive;
  --green-light : #C4F2AD;
}

body {
  text-align: center;
  background-color: var(--green) ;
  margin: 8px 0px;
}

.titlePresentation {
  font-size: 30px;
  margin: 0px 0px 10px 0px;
}

.subtitle {
  font-size: 20px;
  font-family: var(--Quattrocento);
  color: var(--green);
  margin: 15px 74px 33px 83px;
}

.fruitPage {
  font-size: 14px;
  font-family: var(--Maven);
  font-style: bold;
  padding-top: 100px;
  padding-right: 143px;
}

.home-light {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.76) ;
  padding: 36px 0px ;
}

.home {
  background-image: url("../img/plan_de_travail_avec_fruit.png");
  background-size: cover;
  height: 380px;
  padding: 28px;
}

.fruitTitle {
  font-family: var(--Sriracha);
  font-size: 30px;
}

.fruitsubtitle {
  font-family: var(--Quattrocento);
  font-size: 16px;
  opacity: 50%;
  text-align: left;
  margin: 0px;
}



.banane {
  background-color: #FFF8D7 ;
}
.kiwi {
  background-color: var(--green-light);
}
.café {
  background-color: #D3C6B2;
}
.fraise {
  background-color: #F7A4B4;
}

img {
  padding: 31px 67px 38px 67px;
}

.fruitboard {
  margin-bottom: 44px;
  height: 240px;
  padding: 35px 40px;
  border-radius: 25px;
  text-align: left;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.568) ;
}

.fruitboard img {
  width: 75px;
}

.logo {
  width: auto;
}

.container {
  height: 240px;
  width: 320px;
  background-color: rgb(0, 0, 0);
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  position: relative;
}

.Product .container  {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

.container div {
  color: white;
}

.column {
  position: absolute;
  bottom: 41px;
}

.product {
  margin: 40px 30px;
}

.titleProducts {
  color: white;
  font-size: 26px;
  font-family: var(--Maven);
  margin-bottom: 35px;
}

.column * {
  padding: 0px 78px 0px 00px;
}

.presentation {
  padding: 90px 40px;
  background-color: white;
}

h2{
  font-size: 26px;
  font-style: bold;
}

.fontRubrique2{
  font-size: 16px;
}

.imagefruit{
  height: 50px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  background: #57bb6b;
  color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  margin-bottom: 5px;
  text-decoration: none;
  transition: all 0.2s ease;
  font-family: maven pro;
}

.button:hover {
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
  background: #278b3b;
}

.button-light {
  background: white;
}







