:root {
  --green : #57BB6B ;
  --Maven : 'Maven Pro', sans-serif;
  --Quattrocento: 'Quattrocento', serif;
  --Sriracha : 'Sriracha', cursive;
  --green-light : #C4F2AD;
}

html {
  background-color: var(--green) ;
}

body {
  text-align: center;
  margin: 8px 0px;
  margin-right: auto;
  margin-left: auto;
  width: 380px;
}

nav div {
  margin: 33px ;
  margin-bottom: 50px;
}

nav div a {
  padding: 14px 17px;
  border-radius: 15px;
  text-decoration: none;
  font-family: var(--Maven) ;
}

h1 {
  margin: 0px;
}

h2{
  font-size: 26px;
  font-style: bold;
}

ul {
  padding-left: 12px;
}
/*
.fruitPage {
  font-size: 14px;
  font-family: var(--Maven);
  font-style: bold;
  padding-top: 100px;
  padding-right: 143px;
}
*/
.container {
  height: 240px;
  width: 320px;
  background-color: rgb(0, 0, 0);
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  position: relative;
}

.container-sirop-kiwi {
  background-color: #C4F2AD;
  padding: 50px 0px;
}

.container-kiwi img {
  width: 100%;
}

.container-other-product {
  display: flex;
}

.container-kiwi {
  color: white;
  text-align: left;
  font-family: var(--Quattrocento);
  font-size: 16px;
  padding: 62px 87px 55px 68px;
}

.container-2 div {
  margin: 30px 0px;
}

.Product {
  padding: 40px 30px;
}

.Product .container-2  {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

.home-light {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.76) ;
  padding: 36px 0px ;
}

.home {
  background-image: url("../img/plan_de_travail_avec_fruit.png");
  background-size: cover;
  padding: 28px;
}

.banane {
  background-color: #FFF8D7 ;
}
.kiwi {
  background-color: var(--green-light);
}
.cofee {
  background-color: #D3C6B2;
}
.fraise {
  background-color: #F7A4B4;
}

.titlePresentation {
  font-size: 30px;
  margin: 0px 0px 10px 0px;
}

.title {
  font-size: 26px;
  font-family: var(--Maven);
  font-style: bold;
  margin: 95px 96px 31px 95px;
}

.title-kiwi {
  font-size: 26px;
  font-family: var(--Maven);
  font-style: bold;
}

.title-sirop-kiwi {
  font-size: 30px;
}

.fruitTitle {
  font-family: var(--Sriracha);
  font-size: 30px;
}

.fruit-other-title { 
  font-size: 17px;
  font-family: var(--Sriracha);
}

.titleProducts {
  color: white;
  font-size: 26px;
  font-family: var(--Maven);
  margin-bottom: 35px;
}

.subtitle {
  font-size: 20px;
  font-family: var(--Quattrocento);
  color: var(--green);
  margin: 15px 74px 33px 83px;
}

.fruitsubtitle {
  font-family: var(--Quattrocento);
  font-size: 16px;
  opacity: 50%;
  text-align: left;
  margin: 0px;
}

.kiwisubtitle {
  font-family: var(--Quattrocento);
  font-size: 16px;
  opacity: 50%;
  margin: 0px;
  padding: 5px 0px;
}

.text-kiwi {
  margin: 45px 0px;
  font-family: var(--Quattrocento);
  font-size: 18px;
}

.value-nutri {
  margin: 35px 0px;
}

.fontRubrique2{
  font-size: 16px;
}

.source {
  font-family:var(--Maven) ;
  font-size: 14px;
  color:var(--green) ;
  margin: 69px 80px 112px 80px;
}

.bottom-product {
  margin-top: 100px;
}

.bottom-product img {
  padding-left: 60px;
}

.fruitboard {
  margin-bottom: 44px;
  height: 240px;
  padding: 35px 40px;
  border-radius: 25px;
  text-align: left;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.568) ;
}

.fruitboard-small {
  margin: 30px 5px 44px 5px;
  height: 132px;
  padding: 15px;
  border-radius: 25px;
  text-align: left;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.568);
  width: 150px;
}

.fruitboard img {
  width: 84px;
}

.img-rond {
  background-color: white;
  border-radius: 50%;
  padding: 50px;
  width: 112px;
  margin-right: auto;
  margin-left: auto;
}

.home-light img {
  width: 210px;
}

.other-product {
  background-color: #C4F2AD;
  padding: 50px 30px;
}

.item-other-product {
  margin-top: 20px;
}

.item-other-product-2 {
  margin-top: 47px;
}

.img-fruit{
  margin-top: 30px;
}

.img-rond img {
  height: 100px;
}

.img-other-product {
  width: 50px!important;
}

.img-fruit img {
  height: 30px;
  margin: 15px;
}

.img-other-product-plus {
  width: 30px;
  margin-right: 28px;
}

.logo {
  width: auto;
}

.column {
  padding: 0px 78px 0px 00px;
  position: absolute;
  bottom: 41px;
}

.presentation {
  padding: 90px 40px;
  background-color: white;
}

.button {
  padding: 10px 15px;
  border-radius: 10px;
  margin-bottom: 5px;
  text-decoration: none;
  transition: all 0.2s ease;
  font-family: maven pro;
  margin: 9px 0px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 35px 0px 45px 0px;
}

.button:hover {
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
}

.button-principal {
  background-color: var(--green);
  color: white;
}

.button-principal:hover {
  background-color: #278b3b;
  color: white;
}

.button-light {
  background: white;
  color: var(--green);
}

.fruitline {
  width: 30px;
  padding: 0px 15px;
  margin: 0px 0px 46px 0px;
}

.footer {
  background-color: white;
} 

.footer .title {
  padding: 43px 93px 35px 100px;
}

.contact {
  text-align: center;
  padding: 55px;
  color:var(--green) ;
  font-family:var(--Maven) ;
}